*::before,
*,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1pt;
}

body {
    margin: 0;
}

body,
html {
    height: 100%;
}

.cr-form-overlay {
    background-color: rgba(50, 64, 50, 0.692);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow-y: auto;
}

.cr-form-overlay form {
    background-color: rgba(255, 255, 255, 0.953);
    padding: 20pt 30pt;
    max-width: 30rem;
    margin: auto;
    width: 100%;
    border-radius: 5pt;
    position: relative;
}

@media screen and (max-width: 600px) {
    .cr-form-overlay {
        display: block;
    }

    .cr-form-overlay form {
        height: 100%;
        padding: 20pt 15pt;
        border-radius: 0;
    }
}

.cr-form-overlay form .close-form {
    position: absolute;
    right: 5pt;
    top: 5pt;
    background-color: rgb(216, 216, 216);
    padding: 3pt 10pt;
    border-radius: 50rem;
    font-size: 2rem;
    font-weight: lighter;
    transition: all 10ms ease-in-out;
    width: auto;
    cursor: pointer;
}

.cr-form-overlay form .close-form:hover {
    background-color: rgb(209, 209, 209);
}

.cr-form-overlay form label {
    display: block;
    font-weight: 600;
    font-size: medium;
    margin-bottom: 5pt;
    margin-top: 15pt;
}

.cr-form-overlay form input {
    width: 100%;
    padding: 12pt 7pt;
    background-color: transparent;
    outline: 0;
    border: 1pt solid rgba(107, 107, 107, 0.467);
    border-radius: 5pt;
    font-size: 18px;
    transition: all 10ms ease-in-out; 
}

.cr-form-overlay form input:focus {
    border: 2pt solid green;
    background-color: white;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.5;
}


.cr-form-overlay form button {
    width: 100%;
    margin-top: 1rem;
    padding: 8pt;
    border-radius: 50rem;
    border: 0;
    background-color: green;
     box-shadow: 0 0 3pt 0 rgba(137, 137, 137, 0.679);
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 17px;
    transition: all 10ms ease;
    transform-style: preserve-3d;
    outline: none;
    cursor: pointer;
}

.cr-form-overlay form button:hover {
    opacity: 0.9;
}

.cr-form-overlay form button:active {
    transform: scale(0.98);
}

.bottom-container {
    margin-top: 1rem;
}

.bottom-container label {
    position: relative;
    padding-left: 25pt;
    font-size: small !important;
    font-weight: 500 !important;
}

.bottom-container label input {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.bottom-container label input:checked+.checkmark {
    background-color: green;
    border: 2pt solid green;
}

.bottom-container label input:checked+.checkmark::after {
    display: block;
}

.bottom-container label .checkmark {
    height: 17pt;
    width: 17pt;
    border-radius: 5pt;
    border: 2pt solid rgba(107, 107, 107, 0.467);
    position: absolute;
    left: 0;
    cursor: pointer;
}

.bottom-container label .checkmark::after {
    content: " ";
    position: absolute;
    height: 5.5pt;
    width: 10pt;
    transform: rotate(-45deg);
    top: 2.5pt;
    left: 2pt;
    border-width: 0 0pt 2pt 2pt;
    border-style: solid;
    display: none;
    border-color: white;
    animation: checkmark-animation 100ms ease-in-out;
    -webkit-animation: checkmark-animation 100ms ease-in-out;
}

@keyframes checkmark-animation {
    from {
        width: 0;
    }

    to {
        width: 10pt;
    }
}

@-webkit-keyframes checkmark-animation {
    from {
        width: 0;
    }

    to {
        width: 10pt;
    }
}

a {
    color: green;
    text-decoration-line: underline;
    opacity: 0.7;
    transition: all 10ms ease-in-out;
}

a:hover {
    opacity: 1;
}

div.text-divider {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: medium;
    font-size: medium;
    margin-top: 2rem;
    color: rgba(0, 54, 0, 0.774);
    letter-spacing: 0;
}

div.text-divider::before,
div.text-divider::after {
    content: "";
    flex: 1;
    height: 1pt;
    background-color: rgba(107, 107, 107, 0.467);
    margin: 5pt;
    border-radius: 50rem;
}

.cr-form-overlay form div.socials {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.cr-form-overlay form div.socials a {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    border-radius: 50rem;
    background-color: rgb(255, 248, 236);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1pt 0 rgba(0, 0, 0, 0.748);
    color: black;
    text-decoration: none; 
    border:  1pt solid rgba(107, 107, 107, 0.467);
}

