*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    position: relative;
    width: 100%;
}

div#logo-container {
    padding: 0 0 1rem 1rem;
    margin-bottom: 0;
    border-bottom: 1pt solid rgba(185, 185, 185, 0.652);
    border-bottom-left-radius: 5pt;
    border-bottom-right-radius: 5pt;
    margin-bottom: 1rem;
    z-index: 1
}

div#logo-container strong {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1pt;
    font-size: xx-large;
    text-shadow: 2pt 1pt 0 rgba(152, 152, 152, 0.298);
    color: black
}

div#logo-container strong span.d {
    color: green;
}

div#logo-container strong span.a {
    color: rgb(200, 130, 0);
}


form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: ;
    background-color: white;
    padding: 30pt 20pt;
    box-shadow: 0 0 5pt 0 rgba(130, 128, 128, 0.561);
    margin: auto;
    border-radius: 5pt;
    margin: top 1rem;
    ;
    z-index: 1
}

input {
    display: block;
    padding: 10pt;
    border: 2pt solid rgb(211, 211, 211);
    border-radius: 5pt;
    margin-bottom: 5pt;
    transition: all 10ms ease;
    cursor: text;
    box-shadow: inset 0 0 5pt 0 rgba(191, 191, 191, 0.153);
    outline: none;
    background: white;
    font-size: 17px
}

input:focus {
    outline: none;
    border: 2pt solid rgb(200, 130, 0);
    box-shadow: none;
}

label {
    display: block;
    margin-bottom: 5pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

div.auth-google {
    width: 100%;
    background: rgb(255, 249, 239);
    box-shadow: 0 0 3pt 0 rgba(128, 128, 128, 0.534);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 8pt 3pt;
    border-radius: 50rem;
    text-align: center;
    margin-top: 1rem;
    border: 1pt solid white;
    transition: all 10ms ease;
}

div.auth-google a {
    color: black;
    text-decoration-line: inherit;
    opacity: 0.8;
}

div.auth-google:hover {
    box-shadow: 0 0 5pt 0 rgba(127, 127, 127, 0.787);
}

input[type=checkbox],
button,
div.auth-google {
    cursor: pointer;
}

input:hover {
    border:  2pt solid rgb(200, 130, 0);
}
input::placeholder{
    color: rgb(156, 156, 156)
    
}
button {
    padding: 10pt;
    border-radius: 5pt;
    width: 100%;
    margin-top: 3rem;
    background-color: green;
    border: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: medium;
    text-shadow: 2pt 1pt 5pt rgba(58, 57, 57, 0.518);
    box-shadow: 0 0 5pt 0 rgba(119, 119, 119, 0.246);
    letter-spacing: .5pt;
    transition: all 10ms ease;
}

button:hover {
    opacity: 0.92;
}


div.auth-divider {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: rgba(154, 154, 154, 0.794);
     font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: medium;
}

div.auth-divider::before,
div.auth-divider::after {
    content: '';
    flex: 1;
    background: rgba(154, 154, 154, 0.794);
    padding: .3pt;
    margin: 25pt
}

div.terms-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: black;
    opacity: 0.5;
}

div.terms-container a {
    color: rgb(161, 105, 0);
    cursor: pointer;
}

div.terms-container a:hover {
    color: green;
}

div.show-psswrd {
    display: flex;
    margin-top: 5pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 11pt;
    height: max-content;
    align-items: center;
}

footer {
    height: 4rem;
    background: rgba(189, 189, 189, 0.398);
    margin-top: 5rem;
    box-shadow: 0 0 2px 0 rgba(147, 147, 147, 0.885);
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
}

small {
    font-family: sans-serif;
    font-weight: 500;
    color: black;
    opacity: .4;
    text-align: center;
    margin-top: 1rem;
}

@media screen and (max-width: 500px) {
    body{
        background:rgba(236, 236, 236, 0.479) ;
    }
    div#logo-container {
        border-bottom: 0;
        padding: 5pt;
    }

    div#logo-container strong {
        font-size: x-large;
        font-weight: bold;
        text-shadow:  2pt 1pt 0 rgba(152, 152, 152, 0.298);
        letter-spacing: .1pt;
    }

    form {
        width: 100%;
        background-color: transparent;
        box-shadow: inherit;
    }

    footer {
        background-color: transparent;
        box-shadow: inherit;
        position: absolute;
        bottom: 0;
    }

    button {
        align-self: flex-end;
    }

    input {
        box-shadow: none;
        padding: 10pt;
        border: 1pt solid rgb(211, 211, 211);
    }

    input:focus {
        border: 1pt solid rgb(172, 115, 9);
        outline: none;
    }

    input:hover {
        outline: 1pt solid rgb(217, 144, 7);
    }
}
